<!DOCTYPE html>
<html lang="zh-cn" ng-app="accountApp"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ripple Pay Protocol Portal">
    <meta name="author" content="rippleOK">
    <link rel="icon" href="/favicon.ico">

    <title>Ripple Pay Protocol Portal</title>
		<!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
	
		<!-- Custom styles for this template -->
    <!-- <link href="http://v3.bootcss.com/examples/navbar-fixed-top/navbar-fixed-top.css" rel="stylesheet"> -->
		<style>body {min-height: 2000px; padding-top: 70px;}</style>
    <link href="../css/rippleok.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   <style>
	[ng\:cloak], [ng-cloak], .ng-cloak{display:none;}
	.gridhead{
	  font-size:12px;
	  font-weight:bold; 
	  background:gainsboro;
	  color:black
	}
	.gridhead1{
	  background:gainsboro;
	  color:teal
	}
	.gridfooter{
	  background:white;
	}
	.even{background: white;}
	.odd{background: azure;}
	.panel-heading {
		padding: 3px 3px;}
	a[type='text']{color:#333}
 	.gap{border-right: 3px solid #fff;}
</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
          <a class="navbar-brand" href="../index.html"><span style="font-weight:bold;color:#428bca;">ripple<span style="font-weight:bold;color:#FF9933;">OK</span></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
          <li><a href="#">Account</a></li>
          <li><a href="#">Gateways</a></li>
          <li><a href="#">Ledger</a></li>
          <li><a href="#">Transaction</a></li>
          <li><a href="#">Server</a></li>         
        </ul>
				<form class="nav navbar-nav navbar-right navbar-form">
						<div class="input-group" style="width:500px">					
							<input id="address" type="text" class="form-control" placeholder="r...address">
							<span class="input-group-btn" style="width:150px">
								<button class="btn btn-primary" type="button" onclick="queryAccountInfo();">Let's go. ripple<span style="font-weight:bold;color:#FF9933;">OK</span> »</button>
							</span>					
  					</div>
				</form>
       </div>
      
		</div><!-- /container -->
	</nav><!--/nav -->

	<div class="container" ng-controller="AccountCtrl">
<!--------------------------------------------------------------------->
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">Ripple Name：<span id="ripplename"></span></div>
					<div class="col-md-8">Address：<span id="rippleaddress"><span></div>
				</div>
				<div class="row">
					<div class="col-md-12" id="otherinfo"></div>
				</div>
				<div class="row">
					<div class="col-md-12"><span id="xrp"></span></div>
				</div>
			</div>	
			<div class="col-md-4"><span id="avatar"></span><span id="domain"></span></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<span ng-repeat="set in accountsetting" style="margin-right:6px">{{set.name}}:{{set.value|checkmark}}</span>
			</div>
		</div>
<!--------------------------------------------------------------->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
	   				<div class="panel-heading">
		  				<div class="row">
								<div class="col-md-3">
									<h3 class="panel-title" style="margin-top:3px">Funds list</h3>
								</div>
								<div class="col-md-9">
									<a id="requery" href="#" onclick="queryAccountInfo();" class="hide">Download fund list timeout，click this retry.</a>
								</div>
							</div>
	   				</div>
	   				<div class="panel-body" style="max-height: 530px;overflow-y:auto;overflow-x:hidden">
							<div id="funddiv" class="row ng-cloak collapse in" ng-hide="collapsed">
								<div class="col-md-12">
									
									<div class="row gridhead" ng-show="funds.length>0">
										<div class="col-md-1 gap">currency</div>
										<div class="col-md-3 gap">amount</div>
										<div class="col-md-5 gap">issuer</div>
										<div class="col-md-2 gap">limit</div>
										<div class="col-md-1">no-ripple</div>
									</div>
									<div class="row" ng-repeat="fund in funds" ng-class="{'even':$even,'odd':$odd}">
										<div class="col-md-1 gap" style="text-align:center">{{fund.currency}}</div>
										<div class="col-md-3 gap" style="text-align:right">{{fund.amount}}</div>
										<div class="col-md-5 gap" style="text-align:left">{{fund.issuer}}{{fund.issuer|toname|bracket}}</div>
										<div class="col-md-2 gap" style="text-align:right">{{fund.limit}}</div>
										<div class="col-md-1" style="text-align:center">{{fund.no_ripple|checkmark}}</div>
									</div>
									
									<div class="row gridhead" ng-show="issuers.length>0">
										<div class="col-md-1 gap">Currency</div>
										<div class="col-md-3 gap">Issuer Currency Amount</div>
										<div class="col-md-3 gap">Depositor count</div>
										<div class="col-md-5 gap">Trust lines</div>
									</div>		
									<div class="row" ng-repeat="issuer in issuers">
										<div class="col-md-1 gap" style="text-align:center">{{issuer.currency}}</div>
										<div class="col-md-3 gap" style="text-align:right">{{issuer.amount}}</div>
										<div class="col-md-3 gap" style="text-align:right">{{issuer.depositor}}</div>
										<div class="col-md-5 gap" style="text-align:right">{{issuer.trustlines}}</div>
									</div>	
								</div>
			 				</div>				
						</div>
				</div>
		</div>
	</div>

<!------------------------------Offers--------------------------------->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">
 				<div class="panel-heading">
  				<div class="row">
						<div class="col-md-6">
							<h3 class="panel-title" style="margin-top:3px">Offsers list</h3>
						</div>							
						<div class="col-md-6" style="text-align:right">
							
						</div>
					</div>
   			</div><!--panel-heading -->
	   		<div class="panel-body" style="max-height: 600px;overflow-y: auto;">
					<div class="row">
						<div class="col-md-12">
							<div class="row gridhead" ng-show="offers.length>0">
								<div class="col-md-5 gap" style="text-align:right">Base currency</div>
								<div class="col-md-5 gap">Counter currency</div>
								<div class="col-md-2">Price</div>
							</div>
							<div class="row"  ng-repeat="offer in offers" ng-class="{'even':$even,'odd':$odd}">
								<div class="col-md-5 gap" style="text-align:right"><span style="color:{{offer.color}}"><b>{{offer.prompt1}}</b></span>
									{{offer.goods}} <span title='{{offer.goodsissuer}}'>{{offer.goodsissuer|shortAccount|bracket}}</span></div>
								<div class="col-md-5 gap"><span style="color:{{offer.color}}"><b>{{offer.prompt2}}</b></span>
									{{offer.money}} <span title='{{offer.moneyissuer}}'>{{offer.moneyissuer|shortAccount|bracket}}</span></div>
								<div class="col-md-2">{{offer.price}}</div>
							</div>
								
						</div>
					</div>
	   		</div><!--panel-body -->
			</div><!--panel panel-info -->
		</div>
	</div>
<!------------------------------------tx--------------------------------->

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">
 				<div class="panel-heading">
  				<div class="row">
						<div class="col-md-6">
							<h3 class="panel-title" style="margin-top:3px">Transactions History</h3>
						</div>							
						<div class="col-md-6" style="text-align:right">
							
						</div>
					</div>
   			</div><!--panel-heading -->
	   		<div class="panel-body">
					<div class="row" ng-repeat="tx in txs">
						<div class="col-md-12">
<!-------------------------------------------------ng-if="tx.TransactionType=='TrustSet'" begin-->
							<div class="row" ng-if="tx.TransactionType=='TrustSet'">
								<div class="col-md-12">
										<span class="date" style="color:grey">{{tx.date}}</span>
										<span class="txtype">{{tx.TransactionType}}</span> Seq:<b>{{tx.Sequence}}</b>
										<span><b>Trust Amount</b> {{tx.LimitAmount.value}}{{tx.LimitAmount.currency}} {{tx.LimitAmount.issuer}}{{tx.LimitAmount.issuer|toname|bracket}}</span>
										<span><b>Fee:</b> {{tx.Fee}}drop</span>
										<span>TX hash:{{tx.txhash|shortTX}}</span>
								</div>
							</div>
<!-------------------------------------------------ng-if="tx.TransactionType=='TrustSet'" end-->
<!-------------------------------------------------ng-if="tx.TransactionType=='OfferCancel'" begin-->
							<div class="row" ng-if="tx.TransactionType=='OfferCancel'">
								<div class="col-md-12">
										<span class="date" style="color:grey">{{tx.date}}</span>
										<span class="txtype">{{tx.TransactionType}}</span> Seq:<b>{{tx.Sequence}}</b>
										<span><b>Cancel OfferSequence</b> {{tx.OfferSequence}} </span>
										<span><b>Fee:</b> {{tx.Fee}}drop</span>
										<span>TX hash:{{tx.txhash|shortTX}}</span>
								</div>
							</div>
<!-------------------------------------------------ng-if="tx.TransactionType=='OfferCancel'" end-->
<!-------------------------------------------------ng-if="tx.TransactionType=='Payment'" begin-->
							<div class="row"  ng-if="tx.TransactionType=='Payment'">
								<div class="col-md-12">
										<span class="date" style="color:grey">{{tx.date}}</span>
										<span class="txtype">{{tx.TransactionType}}</span> Seq:<b>{{tx.Sequence}}</b>
										<span><b>{{tx.type}}</b> {{tx.amount.value}}{{tx.amount.currency}}{{tx.amount.issuer|shortAccount|bracket}} </span>
										<span><b>{{tx.prep}}</b> {{tx.counterparty}}{{tx.counterparty|toname|bracket}}</span>
										<span>TX hash:{{tx.txhash|shortTX}}</span>
								</div>
							</div>
<!-------------------------------------------------ng-if="tx.TransactionType=='Payment'" end-->
<!-------------------------------------------------ng-if="tx.TransactionType=='OfferCreate'" begin-->
							<div class="row"  ng-if="tx.TransactionType=='OfferCreate'">
								<div class="col-md-11 {{tx.classname}}">
									<span class="date" style="color:grey">{{tx.date}}</span>
									<span class="txtype">{{tx.TransactionType}}</span> Seq:<b>{{tx.Sequence}}</b>
									<span style="color:{{tx.color}}"><b> {{tx.prompt1}}</b></span>
									{{tx.goods}}<span title='{{tx.goodsissuer}}'>{{tx.goodsissuer|shortAccount|bracket}}</span>
									<span style="color:{{tx.color}}"><b>  {{tx.prompt2}}</b></span>
									{{tx.money}}<span title='{{tx.moneyissuer}}'>{{tx.moneyissuer|shortAccount|bracket}}</span> <b>Price:</b>{{tx.price}} 
									<b>TX hash:</b><span title='{{tx.txhash}}'>{{tx.txhash|shortTX}}</span>							
								</div>
								<div class="col-md-1" style="text-align:right;cursor:pointer" ng-click="showfills('#fill'+tx.Sequence);" ng-show="tx.fills.length>0">
									Filled log
								</div>									
							</div>
							<!--------- div fill{{}} -->	
							<div class="fill" id="fill{{tx.Sequence}}" style="display:none">
							<div class="row" ng-repeat="fill in tx.fills" style="background-color:azure;color:DarkSlateGray">
								<div class="col-md-12" ng-if="fill.TransactionType=='OfferCancel'">
									<span class="filldate">{{fill.date}}</span>
									<span class="txtype">{{fill.TransactionType}}</span> Seq:<b>{{fill.Sequence}}</b> <b>TX hash:</b><span title='{{fill.txhash}}'>{{fill.txhash|shortTX}}</span><br>
								</div>
								<div class="col-md-12" ng-if="fill.TransactionType!='OfferCancel'">
									<span class="filldate">{{fill.date}}</span> <span><b>Volume:</b>{{fill.volume[0]}} {{fill.volume[1]}}</span> <span><b>Trader:</b>{{fill.Account}}  <b>{{fill.TransactionType}}</b></span> <b>TX hash:</b><span title='{{fill.txhash}}'>{{fill.txhash|shortTX}}</span><br>									
									<span class="filldate"></span> <span><b>OfferBalance:</b>{{fill.OfferBalance[0]}} {{fill.OfferBalance[1]}}</span><br>
									<span class="filldate"></span> <span><b>AccountBalance:</b>{{fill.AccountBalance[0]}} {{fill.AccountBalance[1]}}</span>							
								</div>
							</div>
							</div>
							<!--div fill{{}} -->
<!-------------------------------------------------ng-if="tx.TransactionType=='OfferCreate'" end-->
						</div>
					</div><!--ng-repeat="tx in txs" -->
					<div class="row gridfooter">
						<div class="col-md-12" style="text-align:center">
							<div id="txLoading" class="bold" style="display:none">
							  <img src="../img/ripplelogo.png" class="loading">Loading transactions data...
							</div>
							<div id="loadmore" style="display:none">
								<a href="javascript:void(0)" onClick="loadMoreTXS();">Fetch more transactions</a>
							</div>
						</div>
					</div><!--gridfooter -->

	   		</div><!--panel-body -->
			</div><!--panel panel-info -->
		</div>
	</div>
<!--------------------------------------------------------------------->
<div id="accountinfo"></div><div id="accountlines"></div>
<div id="accountoffers"></div><div id="accounttxs"></div>
<!--------------------------------------------------------------->
		<script src="../js/angular.js"></script>
		<script src="../js/angular-route.js"></script>
	 
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie10-viewport-bug-workaround.js"></script>
    <script src="../js/ripple-0.9.3.js"></script>
    <script src="../js/ripple-remote.js"></script>
		<script src="../js/rippleok-util.js"></script>
		<script src="./js/accountinfo.js"></script>

</body></html>

